<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" backupGlobals="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>./inc</directory>
    </include>
    <exclude>
      <file>inc/*/index.php</file>
      <directory>inc/plugins</directory>
    </exclude>
    <report>
      <clover outputFile="reports/coverage.cobertura.xml"/>
      <html outputDirectory="reports/coverage"/>
      <text outputFile="php://stdout" showUncoveredFiles="false" showOnlySummary="true"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Unit">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="reports/report.junit.xml"/>
  </logging>
</phpunit>
