$black: #000000;
$white: #FFFFFF;

$grey4d: #4D4D4D;
$grey71: #717171;

$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'Poppins', sans-serif;
$ternaryFont: 'Roboto', sans-serif;

.primary-font {
    font-family: $primaryFont !important;
}

.secondary-font {
    font-family: $secondaryFont !important;
}

.ternary-font {
    font-family: $ternaryFont !important;
}

// Screen sizes
// Extra small screen / phone
$xs: 480px;

$smd: 690px;

// Small screen / tablet
$sm: 768px;

// Medium screen / desktop
$md: 1000px;

// Large screen / wide desktop
$lg: 1200px;