$black: #000000;
$white: #ffffff;

$grey4d: #4d4d4d;
$grey71: #717171;
$grey80: #808080;

$lightYellow: #fff4e2;
$lightGreen: #e7fbf9;
$lightPink: #fde0f6;
$lightPurple: #c8c4e9;
$lightViolet: #e0c1f4;

$darkBlue: #002d5d;

$lightBlue: #4777D2;

$globalTransition: all 0.3s ease-in-out;

$primaryFont: "Montserrat", sans-serif;
$secondaryFont: "Poppins", sans-serif;
$ternaryFont: "Roboto", sans-serif;

.primary-font {
  font-family: $primaryFont !important;
}

.secondary-font {
  font-family: $secondaryFont !important;
}

.ternary-font {
  font-family: $ternaryFont !important;
}

// Screen sizes
// Extra small screen / phone
$xs: 480px;

$smd: 690px;

// Small screen / tablet
$sm: 768px;

// Medium screen / desktop
$md: 1000px;

// Large screen / wide desktop
$lg: 1200px;
