.img-with-aniamtion-wrap {
  .inner {
    .hover-wrap {
      margin: 0;
    }
  }
}

.margin {
  &-auto {
    margin: auto !important;
  }

  &-cero {
    margin: 0 !important;
  }
}

.padding {
  &-cero {
    padding: 0 !important;
  }
}

.d {
  &-n {
    display: none !important;

    &-lg {
      @include respond-to($lg) {
        display: none !important;
      }
    }

    &-md {
      @include respond-to($md) {
        display: none !important;
      }
    }

    &-sm {
      @include respond-to($sm) {
        display: none !important;
      }
    }

    &-smd {
      @include respond-to($smd) {
        display: none !important;
      }
    }

    &-xs {
      @include respond-to($xs) {
        display: none !important;
      }
    }
  }
}
