.img-with-aniamtion-wrap {
  .inner {
    .hover-wrap {
      margin: 0;
    }
  }
}

.margin {
  &-auto {
    margin: auto !important;
  }

  &-cero {
    margin: 0 !important;
  }
}

.padding {
  &-cero {
    padding: 0 !important;
  }
}
