.text {
  &-pretitle,
  &-pretitle {
    font-family: $secondaryFont;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    @include respond-to($md) {
      font-size: 14px;
      line-height: 16.41px;
    }
  }

  &-title,
  &-title * {
    font-size: 40px;
    line-height: 40px;
    font-family: $primaryFont;
    font-weight: 600;

    @include respond-to($md) {
      font-size: 24px;
      line-height: 29.26px;
    }
  }

  &-title {
    &-big,
    &-big * {
      font-family: $primaryFont;
      font-size: 48px;
      line-height: 58.51px;
      font-weight: 600;

      @include respond-to($md) {
        font-size: 32px;
        line-height: 39.01px;
      }
    }

    &-bigger,
    &-bigger * {
      font-family: $primaryFont;
      font-weight: 600;
      font-size: 80px;
      line-height: 97.52px;

      @include respond-to($md) {
        font-size: 32px;
        line-height: 39.01px;
      }
    }

    &-secondary,
    &-secondary * {
      font-family: $primaryFont;
      font-size: 36px;
      font-weight: 600;
      line-height: 44px;

      @include respond-to($md) {
        font-size: 24px;
        line-height: 29.26px;
      }
    }

    &-secondary {
      &-medium,
      &-medium * {
        font-family: $primaryFont;
        font-size: 32px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: -1.2px;

        @include respond-to($md) {
          font-size: 18px;
        }
      }

      &-small,
      &-small * {
        font-family: $primaryFont;
        font-size: 24px;
        font-weight: 600 !important;
        line-height: 29.26px;

        @include respond-to($md) {
          font-size: 18px;
          line-height: 21.94px;
        }
      }
    }

    &-ternary,
    &-ternary * {
      font-weight: 400;
      font-size: 28px;
      line-height: 36.23px;

      @include respond-to($md) {
        font-size: 24px;
        line-height: 31.06px;
      }
    }
  }

  &-subtitle,
  &-subtitle * {
    font-family: $ternaryFont;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.09px;

    @include respond-to($md) {
      font-size: 16px;
      line-height: 18.75px;
    }
  }

  &-subtitle {
    &-big,
    &-big * {
      font-family: $ternaryFont;
      font-size: 20px;
      font-weight: 400;
      line-height: 20px;

      @include respond-to($md) {
        font-size: 14px;
      }
    }

    &-small,
    &-small * {
      font-family: $ternaryFont;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
    }

    &-smaller,
    &-smaller * {
      font-family: $ternaryFont;
      font-size: 14px;
      line-height: 16.41px;
      font-weight: 400;
    }
  }

  &-footer-link,
  &-footer-link * {
    font-family: $primaryFont;
    font-weight: 400;
    font-size: 17px;
    line-height: 40px;
    letter-spacing: -0.2px;
  }

  &-body,
  &-body * {
    font-family: $ternaryFont;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
  }
}

.fw {
  &-100,
  &-100 * {
    font-weight: 100 !important;

    strong {
      font-weight: 700 !important;
    }
  }

  &-200,
  &-200 * {
    font-weight: 200 !important;

    strong {
      font-weight: 700 !important;
    }
  }

  &-300,
  &-300 * {
    font-weight: 300 !important;

    strong {
      font-weight: 700 !important;
    }
  }

  &-400,
  &-400 * {
    font-weight: 400 !important;

    strong {
      font-weight: 700 !important;
    }
  }

  &-500,
  &-500 * {
    font-weight: 500 !important;

    strong {
      font-weight: 700 !important;
    }
  }

  &-600,
  &-600 * {
    font-weight: 600 !important;

    strong {
      font-weight: 700 !important;
    }
  }

  &-700,
  &-700 * {
    font-weight: 700 !important;

    strong {
      font-weight: 700 !important;
    }
  }
}

.ta {
  &-c {
    text-align: center;

    &-lg {
      @include respond-to($lg) {
        text-align: center;
      }
    }

    &-md {
      @include respond-to($md) {
        text-align: center;
      }
    }

    &-sm {
      @include respond-to($sm) {
        text-align: center;
      }
    }

    &-smd {
      @include respond-to($smd) {
        text-align: center;
      }
    }

    &-xs {
      @include respond-to($xs) {
        text-align: center;
      }
    }
  }

  &-l {
    text-align: left;

    &-lg {
      @include respond-to($lg) {
        text-align: left;
      }
    }

    &-md {
      @include respond-to($md) {
        text-align: left;
      }
    }

    &-sm {
      @include respond-to($sm) {
        text-align: left;
      }
    }

    &-smd {
      @include respond-to($smd) {
        text-align: left;
      }
    }

    &-xs {
      @include respond-to($xs) {
        text-align: left;
      }
    }
  }
}

.color {
  &-white,
  &-white * {
    color: $white;
  }

  &-grey {
    &49,
    &49 * {
      color: $grey49;
    }

    &E5,
    &E5 * {
      color: $greyE5;
    }

    &80,
    &80 * {
      color: $grey80;
    }
  }
}

.load-more {
  @include respond-to($smd) {
    background-color: #F5F7FA;
    padding: 8px;
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  a {
    font-family: $primaryFont;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #00557e;

    @include respond-to($md) {
      font-size: 14px;
      line-height: 17.07px;
    }

    &.loading {
      .loading {
        display: block;
      }

      .more {
        display: none;
      }
    }

    .loading {
      display: none;
    }

    .arrow {
      transform: rotate(180deg);
      display: flex;
      align-items: center;

      svg {
        path {
          stroke: #00557e;
        }
      }
    }
  }
}
